html, body, h1, h2{
    margin: 0;
    padding: 0;
}

.App {
    position: relative;
  margin: auto;
  font-family: Roboto;
  background-color: #d5d5d5;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messages-cont{

}

.MuiToolbar-regular{
    height:54px;
    min-height: 0px
}

.recieved-message-user{
  margin: 0px 0px 0px 10px;
  font-size: 10px;
}

.message-recieved-bubble{
  background-color:   #69a359;

  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin: 0px 10px 7px 90px;
}

.sent-message-user{
  margin: 0px 10px 0px 0px;
  font-size: 10px;
}

.message-sent-bubble{
  background-color: #765a9d;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin: 0px 90px 7px 10px;;
}

.sent-container{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-board{
  margin-top: 57px;
  height: 100%;
  margin-bottom: 76px;
 
}

body {
  background-color: #d5d5d5;
}

.pop-up-cont{
  z-index: 99999999;
  position: absolute;
  background-color: #5d5954d9;
  height: 100vh;
  width: 100%;
  top: -54px;
}

.pop-up-box{
  background-color: lightyellow;
  top: 35%;
  position: absolute;
  margin-left: -140px;
  left: 50%;
  width: 240px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.hidden{
  display: none;
}