html, body, h1, h2{
    margin: 0;
    padding: 0;
}

*:focus {outline: none;}

.App {
    position: relative;
  margin: auto;
  font-family: Roboto;
  background-color: #d9d9d9;
  max-width: 500px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messages-cont{

}

.MuiToolbar-regular{
    height:54px;
    min-height: 0px
}


.header{
  height: 50px;
   position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  display: flex;
  background-color: #564686;
  justify-content: center;
  box-shadow: 0 -9px 26px 0px;
  flex-wrap: wrap;
  max-width: 500px;
}

.header-users{
  color: white;
  font-size: 14px;
  /* letter-spacing: 0.1em; */
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 100;
  letter-spacing: 1px;

}
.recieved-message-user{
  margin: 0px 0px 0px 11px;
  font-size: 12px;
}

.message-recieved-bubble{
  background-color:   #69a359;

  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin: 0px 10px 7px 90px;
}

.sent-message-user{
  margin: 0px 11px 0px 0px;
  font-size: 12px;
}

.message-sent-bubble{
  background-color: #dda9bb;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin: 0px 90px 7px 10px;;
}

.sent-container{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-board{
  margin-top: 50px;
  height: 100%;
  margin-bottom: 110px;
 
}

body {
  background-color: #d9d9d9;
}

.pop-up-cont{
  z-index: 99999999;
  position: absolute;
  background-color: #5d5954d9;
  height: 100vh;
  width: 100%;

}

.pop-up-box{
  background-color: lightyellow;
  top: 35%;
  position: absolute;
  margin-left: -140px;
  left: 50%;
  width: 240px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.hidden{
  display: none;
}

.message-input-cont{
  position: fixed;
  bottom: 0px;
  background-color: #d9d9d9;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 4px;
  width: 100%;
  /* display: flex; */
  text-align: center;
  max-width: 500px;
}

.message-input{
  width: 94%;
  /* padding: 5px; */
  /* height: 100%; */
  border-radius: 26px;
  /* border: none; */
  border: solid grey;
  border-width: 1px;
  height: 21px;
  padding: 6px;
  margin: auto;
  box-shadow: #0000000a 0px 0px 12px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.user-is-typing{
  position: absolute;
    top: -35px;
    width: 100%;
    text-align: center;
    color: #13101087;
}